<div id="main-body" class="basic-layout">
	<section id="basic-section" class="main-block">
		<div class="uk-container uk-container-center">
			<div class="uk-width-medium-4-6 uk-container-center">

				<h1 class="page-title">
					<a href="http://blog.asukademy.com/posts/242612-evernote-the-best-cloud-notebook">
						Evernote 最優秀的雲端筆記本
					</a>
				</h1>
				<h2 class="sub-title">
					Written by <span class="fn">Simon</span> on
					<time datetime="2014-11-13 15:02:00 UTC" pubdate data-updated="true">November 13, 2014</time>
					.
				</h2>

				<article class="article-content"><p>
					<img src="http://user-image.logdown.io/user/4373/blog/4412/post/242612/rJSqSLfS5SIj3oHoMnuX_p-2014-11-13-2.jpg" alt="p-2014-11-13-2.jpg">
				</p>

					<p>對學生或上班族來說，忙碌的學業與課業生活最需要的就是一套優良的記事軟體來幫助我們管理資料、同步檔案。過去我們可能常常用 Word 或 OneNote 來記錄資訊，但這些檔案資料分享不易，很難從手機或平板上快速檢視。</p>

					<p>
						<a href="https://www.evernote.com">Evernote</a> 是一套強大的雲端記事工具，你可以輕易地在上面記錄文字、圖片或是音訊檔，並立即從電腦同步到雲端。只要在手機或平板上也安裝了 Evernote 的 App，就可以快速打開之前紀錄好的訊息。對使用者來說，就好像多了一個腦袋，不必反覆抄錄資料，隨時隨地從各種裝置上保存重要訊息。
					</p>

					<p class="uk-text-right">
						<a rel="full-article" href="http://blog.asukademy.com/posts/242612-evernote-the-best-cloud-notebook" class="more-link uk-button uk-button-primary">閱讀更多</a>
					</p>

					<hr>
				</article>
				<h1 class="page-title">
					<a href="http://blog.asukademy.com/posts/241343-hour-one-hour-of-code-programming-plans">
						Hour of Code 一小時編程 計畫
					</a>
				</h1>
				<h2 class="sub-title">
					Written by <span class="fn">Simon</span> on
					<time datetime="2014-11-05 14:01:00 UTC" pubdate data-updated="true">November 5, 2014</time>
					.
				</h2>

				<article class="article-content"><p>
					<img class="center" src="http://user-image.logdown.io/user/4373/blog/4412/post/241343/pBf92LqOS4al6t3MX9Qr_p-2014-11-05-2.jpg" alt="p-2014-11-05-2.jpg">
				</p>

					<p>去年，超過 100 個以上的機構聯手推動 Hour of Code 這場史上最大的教育盛會。</p>

					<p>由 Code.org 推動的「一小時編程」計畫，在 2013 年創造了 1500 多萬學生一起寫程式的紀錄。在未來，程式與軟體開發能力是每一個人都要面對的，我們將生活在軟體建造的世界中，創造任何可能。</p>

					<p>
						<img class="center" src="http://user-image.logdown.io/user/4373/blog/4412/post/241343/QZ1td2C3SUOEit2QCVju_p-2014-11-05-4.jpg" alt="p-2014-11-05-4.jpg">
					</p>

					<p>
						<img class="center" src="http://user-image.logdown.io/user/4373/blog/4412/post/241343/Kk6vRAP9TLeXHVifel7c_p-2014-11-05-5.jpg" alt="p-2014-11-05-5.jpg">
					</p>

					<p>
						<img class="center" src="http://user-image.logdown.io/user/4373/blog/4412/post/241343/vf1NTgtuQ56pYVSAqd7U_p-2014-11-05-6.jpg" alt="p-2014-11-05-6.jpg">
					</p>

					<p class="uk-text-right">
						<a rel="full-article" href="http://blog.asukademy.com/posts/241343-hour-one-hour-of-code-programming-plans" class="more-link uk-button uk-button-primary">閱讀更多</a>
					</p>

					<hr>
				</article>
				<h1 class="page-title">
					<a href="http://blog.asukademy.com/posts/240801-benefit-of-learn-programming">
						眾科技巨頭告訴你學習程式的好處
					</a>
				</h1>
				<h2 class="sub-title">
					Written by <span class="fn">Simon</span> on
					<time datetime="2014-10-30 18:39:00 UTC" pubdate data-updated="true">October 31, 2014</time>
					.
				</h2>

				<article class="article-content"><p align="center">
					<img class="center" src="http://user-image.logdown.io/user/4373/blog/4412/post/240801/7OFcAAiQIObJd9U68WgG_141031-0004.jpg">
				</p>

					<blockquote>
						<p>當你有了一個想法，並用自己的雙手實現出來，然後按下一個按鈕， 讓幾百萬人都能分享你的成果。</p>

						<p>我想我們是世界上第一代能有此經歷的人。 </p>

						<p>-- Drew Houston</p>
					</blockquote>

					<p>上面這一段感動人心的句子是 Dropbox 創辦人 Drew 在 Code.org 拍攝的影片中所說的，的確，時代已經完全不同，在網路時代與程式設計的領域中，我們比起過去更容易廣泛散佈我們的製作成品，讓遠在天邊的人一同享受。</p>

					<p class="uk-text-right">
						<a rel="full-article" href="http://blog.asukademy.com/posts/240801-benefit-of-learn-programming" class="more-link uk-button uk-button-primary">閱讀更多</a>
					</p>

					<hr>
				</article>
			</div>
		</div>
	</section>
</div>

<footer id="footer">
	<div class="uk-container uk-container-center uk-text-center">

		<div class="footer-logo">
			<a href="#" data-uk-smooth-scroll>
				<img src="http://asukademy.com/media/img/asukademy-logo-hex.png" width="150" alt="Footer LOGO"></a>
		</div>

		<p class="uk-text-center social-buttons">
			<a target="_blank" class="uk-icon-button uk-icon-facebook" href="https://fb.me/asukademy"></a>

			<a target="_blank" class="uk-icon-button uk-icon-github" href="https://github.com/asukademy"></a>

			<a class="uk-icon-button uk-icon-envelope-o" href="mailto:asika32764@gmail.com"></a>
		</p>

		<p>
			Copyright © 2014 Asukademy. All Rights Reserved.
		</p>
		<p class="back">
			<a href="#" data-uk-smooth-scroll><span class="uk-icon-chevron-up"></span> Back to Top</a>
		</p>
	</div>
</footer>