@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 175%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
  line-height: 120%;
}
a {
  transition: all 0.5s;
}
a:hover {
  transition: all 0.5s;
}
/*
.jf-loading body {
	opacity: 0;
	// visibility: hidden;
	.transition(.2s);
}
.jf-active body {
	opacity: 1;
	// visibility: visible;
	.transition(.2s);
}
.jf-inactive body {
	opacity: 1;
	// visibility: visible;
	.transition(.2s);
}
*/
.uk-button {
  border-radius: 3px;
}
.uk-button-hero {
  padding: 10px 20px;
  line-height: 40px;
  font-size: 24px;
}
.uk-button-primary {
  box-shadow: 0 4px 0 #0091cc;
}
.uk-button-primary:hover {
  box-shadow: 0 4px 0 #009fde;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #444;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #666;
  text-decoration: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.round {
  border-radius: 5px;
}
.uk-table td,
.uk-table th {
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
}
dl dt {
  min-width: 130px;
  float: left;
}
dl dt,
dl dd {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #e5e5e5;
}
#header {
  height: 70px;
  position: relative;
  z-index: 1000;
  background: transparent;
  position: absolute;
  top: 0px;
  width: 100%;
  color: #fff;
}
#header.uk-navbar {
  background-color: transparent;
  color: white;
}
#header h1#blog-title {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline;
}
#header h1#blog-title a {
  font-size: .7em;
}
#header h1#blog-title small.ul-text-mute {
  font-size: 16px;
  font-weight: normal;
  color: #ccc;
  margin-top: 12px;
  display: inline-block;
  text-transform: none;
  float: left;
}
#header .uk-navbar-brand {
  height: 70px;
}
#header .uk-navbar-brand img {
  max-height: 100%;
  padding: 10px;
}
#header .uk-navbar-nav > li > a {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 70px;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 15px;
  font-weight: 600;
}
#header span.menu-item-title {
  display: block;
  line-height: 140%;
}
#header span.menu-item-sub-title {
  font-size: 80%;
  text-transform: uppercase;
  color: #A0A0A0;
  display: block;
  line-height: 140%;
}
#header a {
  color: #fff;
  opacity: .8;
}
#header a:hover {
  background: transparent;
  opacity: 1;
}
#header span.menu-item-sub-title {
  color: #715E49;
  opacity: .84;
  transition: all 0.5s;
}
#header .uk-navbar-toggle {
  margin-top: 15px;
}
@media (max-width: 767px) {
  #header #mainmenu {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  #header #mainmenu.uk-hidden-small {
    transition: all 0.5s;
  }
  #header #mainmenu li {
    width: 100%;
    float: none;
  }
  #header #mainmenu li a:hover {
    background: #eee;
  }
}
html,
body,
#banner,
.banner-cover,
.banner-trans {
  height: 100%;
  min-height: 100%;
}
body {
  background: url(https://windspeaker.s3.amazonaws.com/banners/banner-1.jpg) center center no-repeat;
  background-attachment: fixed;
}
#banner {
  background: url(https://windspeaker.s3.amazonaws.com/banners/banner-1.jpg) center center no-repeat;
  background-attachment: fixed;
}
.banner-cover {
  background-color: rgba(0, 0, 0, 0.5);
}
.banner-inner {
  color: #fff;
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -200px;
  text-align: center;
  z-index: 1000;
}
.banner-inner h1,
.banner-inner h2,
.banner-inner h3 {
  color: #fff;
}
.banner-inner h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin-bottom: .5em;
}
.banner-inner a {
  color: #fff;
}
.banner-inner .start-button {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  border: 2px solid #fff;
  padding: 20px 35px;
  display: inline-block;
  margin-top: 45px;
  text-transform: uppercase;
}
.banner-inner .start-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #fff;
}
