@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);
html,
body {
  font-family: 'Roboto', 'Heiti TC', '微軟正黑體', sans-serif;
  font-size: 17px;
  line-height: 175%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', 'LiHei Pro', "Xin6", '微軟正黑體', sans-serif;
  margin-bottom: 1em;
  line-height: 120%;
}
a {
  transition: all 0.5s;
}
a:hover {
  transition: all 0.5s;
}
/*
.jf-loading body {
	opacity: 0;
	// visibility: hidden;
	.transition(.2s);
}
.jf-active body {
	opacity: 1;
	// visibility: visible;
	.transition(.2s);
}
.jf-inactive body {
	opacity: 1;
	// visibility: visible;
	.transition(.2s);
}
*/
.uk-button {
  border-radius: 3px;
}
.uk-button-hero {
  padding: 10px 20px;
  line-height: 40px;
  font-size: 24px;
}
.uk-button-primary {
  box-shadow: 0 4px 0 #0091cc;
}
.uk-button-primary:hover {
  box-shadow: 0 4px 0 #009fde;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #444;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #666;
  text-decoration: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.round {
  border-radius: 5px;
}
.uk-table td,
.uk-table th {
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
}
dl dt {
  min-width: 130px;
  float: left;
}
dl dt,
dl dd {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #e5e5e5;
}
#header {
  height: 70px;
  position: relative;
}
#header.uk-navbar {
  background-color: #ffffff;
}
#header #blog-title {
  margin: 0;
  font-family: 'Roboto', 'Heiti TC', '微軟正黑體', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline;
  font-size: .9em;
  line-height: 1;
}
#header #blog-title a {
  font-size: 26px;
}
#header #blog-sub-title {
  float: left;
  margin-top: 17px;
  color: #ccc;
  font-size: 23px;
  font-weight: 300;
}
#header .uk-navbar-brand {
  height: auto;
}
#header .uk-navbar-brand img {
  max-height: 100%;
  padding: 10px;
}
#header .uk-navbar-nav > li > a {
  font-family: 'Roboto', 'Heiti TC', '微軟正黑體', sans-serif;
  height: 70px;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 16px;
  font-weight: 600;
}
#header span.menu-item-title {
  display: block;
  line-height: 140%;
}
#header span.menu-item-sub-title {
  font-size: 80%;
  text-transform: uppercase;
  color: #A0A0A0;
  display: block;
  line-height: 140%;
}
#header .uk-navbar-toggle {
  margin-top: 15px;
}
@media (max-width: 767px) {
  #header #mainmenu {
    position: absolute;
    width: 100%;
    margin: 0;
    margin-top: 70px;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  #header #mainmenu.uk-hidden-small {
    transition: all 0.5s;
  }
  #header #mainmenu li {
    width: 100%;
    float: none;
  }
  #header #mainmenu li a:hover {
    background: #eee;
  }
}
#banner {
  background: #444444 center center no-repeat;
  min-height: 200px;
}
@media (max-width: 767px) {
  .mobile-button {
    position: absolute;
    top: 0px;
    right: 17px;
  }
  #blog-title {
    margin-top: 20px;
  }
  #blog-title a {
    font-size: 18px;
    margin-left: 28px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
@media (max-width: 1200px) {
  #blog-sub-title {
    display: none;
  }
}
.home #header {
  background: transparent;
  position: absolute;
  top: 0px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.home #header #blog-title {
  display: block;
  margin-top: 170px;
  margin-bottom: 10px;
}
.home #header #blog-title a {
  font-size: 100px;
}
.home #header #blog-title .uk-navbar-brand {
  float: none;
}
.home #header #blog-sub-title {
  font-size: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  float: none;
}
.home #header #mainmenu {
  float: none;
  margin-top: 10px;
}
.home #header #mainmenu > li {
  float: none;
  display: inline-block;
}
.home #header a {
  color: #fff;
}
.home #header a:hover,
.home #header a:focus {
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 1200px) {
  .home #header #blog-title {
    margin-top: 50px;
  }
  .home #header #blog-title a {
    font-size: 70px;
    height: 40px;
  }
  .home #header #mainmenu > li > a {
    height: 40px;
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .home #header #mainmenu > li > a {
    color: #000;
    border-top: 1px solid #eee;
  }
  .home #header .mobile-button {
    position: absolute;
    top: 0px;
    right: 17px;
  }
  .home #header #blog-sub-title {
    display: none;
  }
  .home #header #blog-title {
    margin-top: 20px;
  }
  .home #header #blog-title a {
    font-size: 18px;
  }
}
.home #banner {
  min-height: 0;
}
.home .banner-inner {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15% 0;
}
#main-body {
  padding-top: 50px;
}
.page-title {
  text-align: center;
  margin-bottom: 0.3em;
}
.sub-title {
  text-align: center;
  margin-top: 0;
  font-weight: 300;
  color: #999;
  font-family: 'Roboto', 'Heiti TC', '微軟正黑體', sans-serif;
}
.article-detail {
  margin-top: 70px;
  margin-bottom: 70px;
}
.page-title {
  font-size: 48px;
  line-height: 1.3;
}
.article-content {
  margin-bottom: 70px;
  font-family: 'Helvetica Neue', 'Heiti TC', 'He', '微軟正黑體', sans-serif;
  /*
 * 1. Remove most spacing between table cells.
 * 2. Block element behavior
 * 3. Style
 */
  /*
	 * Add margin if adjacent element
	 */
  /*
	 * Set alignment
	 */
  /*
	 * Caption and footer
	 */
  /* Sub-modifier: `uk-table-middle`
	 ========================================================================== */
  /* Modifier: `uk-table-striped`
	 ========================================================================== */
  /* Modifier: `uk-table-condensed`
	 ========================================================================== */
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  line-height: 1.5;
  font-family: 'Roboto', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', 'LiHei Pro', "Xin6", '微軟正黑體', sans-serif;
  font-weight: 700;
}
.article-content :not(pre) code {
  font-size: inherit;
  color: #666;
  background-color: #eee;
  padding: 1px 8px;
  word-wrap: break-word;
  white-space: normal;
}
.article-content em {
  color: #000;
}
.article-content p {
  margin: 1.8em 0;
  word-wrap: break-word;
}
.article-content p img:only-child {
  display: block;
  margin: 0 auto;
}
.article-content table {
  /* 1 */
  border-collapse: collapse;
  border-spacing: 0;
  /* 2 */
  width: 100%;
  /* 3 */
  margin-bottom: 15px;
}
.article-content * + table {
  margin-top: 15px;
}
.article-content table th,
.article-content table td {
  padding: 8px 8px;
}
.article-content table th {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
.article-content table td {
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
}
.article-content table thead th {
  vertical-align: bottom;
}
.article-content table caption,
.article-content table tfoot {
  font-size: 12px;
  font-style: italic;
}
.article-content table caption {
  text-align: left;
  color: #999999;
}
.article-content table,
.article-content td {
  vertical-align: middle;
}
.article-content tbody tr:nth-of-type(odd) {
  background: #f5f5f5;
}
.article-content td {
  padding: 4px 8px;
}
.article-content pre > code.hljs {
  margin: -10px;
  padding: 20px;
  font-size: 15px;
  font-family: "monako", consolas, monspace;
}
.article-author-profile {
  margin-top: 70px;
}
#control-tools h4 {
  display: none;
}
#control-tools .dashboard-button {
  position: fixed;
  top: 20px;
  left: 20px;
  display: inline-block;
  color: #fff;
  font-weight: 800;
  background-color: #000000;
  opacity: .2;
  padding: 3px 6px;
  border-radius: 5px;
}
#control-tools .dashboard-button:hover {
  text-decoration: none;
  opacity: 1;
}
#footer {
  margin-top: 50px;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #222;
  color: #ddd;
}
#footer a {
  color: #eee;
}
#footer a:hover {
  color: #999;
  text-decoration: none;
}
#footer a.uk-icon-button {
  color: #333;
}
#footer .footer-logo a {
  opacity: 0.8;
}
#footer .footer-logo a:hover {
  opacity: 1;
}
